
@{
    ViewData["Title"] = "Titles";
}

<script src="~/js/Titles.js"></script>

<div class="container-fluid">
    <div class="form-group row">
        <button type="button" class="col-2 btn btn-primary" id="allTitlesButton">All Titles</button>
        <label for="titleSelect" class="col-2" style="text-align: right;">Select title:</label>
        <select class="form-control col-6" id="titleSelect"></select>
    </div>
    <div class="form-check-inline row">
        <label class="form-check-label">
            <input id="includeAuthors" type="checkbox" class="form-check-input" value="">Include Authors
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="includePublisher" type="checkbox" class="form-check-input" value="">Include Publisher
        </label>
    </div>

    <br />

    <div id="titles"></div>

</div>
